<div class="profile-content">
    <div class="profile-header">
        <div class="header-wrapper pg-container">
            <div class="rout-step d-flex align-items-center">
                <a class="route-step-item cursor-pointer" *ngFor="let item of routeSteps" [routerLink]="item?.routerLink">{{item?.label}}</a>
            </div>
            <p class="text">{{title}}</p>
        </div>
    </div>
    <div class="beehives-content">
        <div class="beehives-header d-flex align-items-center">
            <div class=" d-flex m-auto">
                <p class="text">Buy beehives</p>
                <div class="behives-radius  ml-3 d-flex" (click)="onclick()">
                    <i class="material-icons m-auto" *ngIf="beehives">
                        keyboard_arrow_up
                    </i>
                    <i class="material-icons m-auto" *ngIf="!beehives">
                        keyboard_arrow_down
                    </i>
                </div>
            </div>
        </div>
        <div class="beehives-main" *ngIf="beehives">
            <div class="main-content d-flex  pg-container justify-content-between">
                <div class="laft-content">
                    <p class="title">Standart hive</p>
                    <p class="text">hive dimensions 90*60*90</p>
                    <p class="text">price for one: <b>$200</b></p>
                    <div class="add d-flex justify-content-between">
                        <button class="btn  add-button cursor-pointer d-flex" type="submit"><p class="m-auto">-</p></button>
                        <input type="number" value="2" class="input-content m-auto text-center">
                        <button class="btn  add-button cursor-pointer d-flex" type="submit"><p class="m-auto">+</p></button>
                    </div>
                </div>
                <div class="right-content">
                    <p class="title">Order cost</p>
                    <p class="text">FREE SHIPPING 2-3 DAYS</p>
                    <p class="text">Total price: <b>$400</b></p>
                    <button class="btn  save-btn cursor-pointer" type="submit">BUY</button>
                </div>
                <div>
                    <img src="assets/icons/Close.svg" class="rounded d-block icon" alt="...">
                </div>
            </div>
        </div>
    </div>
    <div class="profile-main">
        <div class="main-container pg-container d-flex">
            <div class="menu-content d-flex flex-column">
                <a class="title" routerLink="/profile/user-account" [routerLinkActive]="'activeMenuTab'">Profile</a>
                <a class="title" routerLink="/profile/user-addresses" [routerLinkActive]="'activeMenuTab'">Addresses</a>
                <a class="title" routerLink="/profile/payment-details" [routerLinkActive]="'activeMenuTab'">Payment
                    details</a>
                <a class="title" routerLink="/profile/asset-list" [routerLinkActive]="'activeMenuTab'">Asset
                    list</a>
                <a class="title" routerLink="/profile/payments" [routerLinkActive]="'activeMenuTab'">Payments</a>
            </div>
            <div class="router-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>