.profile-content {
  .profile-header {
    background: #f3f4f6 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 0px #00000029;
    padding: 50px 0;

    .header-wrapper {
      .rout-step {
        padding-bottom: 10px;
        padding-bottom: 10px;
        .route-step-item {
          text-decoration: underline;
          font-size: 12px;
          color:#17344f;
          cursor: pointer;
          margin-left: 15px;
          &:first-child {
            margin-left: 0 !important;
          }
          &:last-child{
            font-weight: bold;
            text-decoration: none;
            font-size: 14px;
          }
        }
      }
    }

    .text {
      color: #17344f;
      font-size: 30px;
      line-height: 40px;
    }
  }

  .beehives-content {
    display: none;
    .beehives-header {
      background: #ffcf00 0% 0% no-repeat padding-box;
      box-shadow: 0px 1px 0px #00000029;
      opacity: 1;
      padding: 18px 0;

      .text {
        color: #17344f;
        font-size: 30px;
        line-height: 40px;
        text-decoration: underline dotted #17344f;
      }

      .behives-radius {
        background: #ffffff00 0% 0% no-repeat padding-box;
        border: 1px solid #ffffff;
        opacity: 1;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        cursor: pointer;
        i {
          color: #8695a5;
          font-size: 32px;
          transition: transform 0.5s;
        }
        .innter-close{
          transform: rotate(0deg);
        }
        .inner-open{
          transform: rotate(180deg);
        }
      }
    }
    .beehives-main {
      background: #f2f3f5 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      opacity: 1;
      padding: 50px 0;
      z-index: 1;
      .main-content {
        .text,
        .title {
          color: #17344f;
          font-size: 18px;
          line-height: 24px;
          word-break: break-all;
          margin-bottom: 30px;
        }
        .title {
          font-size: 30px;
          line-height: 40px;
        }
        .laft-content {
          width: 100%;
          max-width: 500px;
          background: #ffffff 0% 0% no-repeat padding-box;
          box-shadow: 0px 3px 6px #00000029;
          opacity: 1;
          padding: 35px 110px;
          .add {
            margin-top: 25px;
            width: 180px;
            background: #ffffff 0% 0% no-repeat padding-box;
            border: 1px solid #f2f3f5;
            border-radius: 5px;
            opacity: 1;
            .add-button {
              width: 50px;
              background: #8695A5 0% 0% no-repeat padding-box;
              border-radius: 5px;
              opacity: 0.3;
              color:#17344f;
              font-size: 30px;
              margin: 0;
              font-weight: bold;
              padding: 0;
            }
            .input-content {
              color: #17344f;
              font-size: 30px;
              line-height: 40px;
              word-break: break-all;
              width: 70px;
              border: none;
            }
          }
        }
        .right-content {
          width: 100%;
          max-width: 220px;
          padding: 35px 0;
          .save-btn {
            padding: 16px 70px;
          }
        }
      }
      .icon{
        cursor: pointer;
      }
    }
  }

  .profile-main {
    .main-container {
      margin: 60px auto;
      .menu-content {
        width: 100%;
        max-width: 135px;
        .title {
          margin: 3px 0;
          font-size: 14px;
          line-height: 19px;
          color: #17344f;
          padding: 11px;
          cursor: pointer;
          transition: 0.5s all ease-out;
          &:hover {
            background-color: #e4f4ff;
          }
        }
      }

      .router-content {
        width: calc(100% - 300px);
        margin-left: 165px;
      }
    }
  }

  .router-content {
    width: 100%;
    max-width: 670px;
    margin-left: 165px;
  }
}

.activeLink {
  color: #17344f !important;
  text-decoration: none !important;
  font-size: 14px !important;
  font-weight: bold;
}

.activeMenuTab {
  color: white !important;
  background: #009dff 0% 0% no-repeat padding-box !important;
  border-radius: 5px !important;
  text-decoration: none !important;
}
