.pay-bill-content {
    .header-content {
        .icon {
            width: 42px;
            height: 42px;
            cursor: pointer;
        }
    }
    .pay-bill-main-content {
        width: 60%;
        margin: 55px auto;

        .main-description {
            .main-text {
                word-break: break-all;
                color: #17344F;
                font-size: 50px;
                line-height: 67px;
                word-break: break-all;
            }

            .main-icon {
                height: 110px;
                margin-left: 20px;
            }
        }

        .text {
            color: #17344F;
            font-size: 21px;
            line-height: 27px;
            word-break: break-all;
            margin-top: 35px;
        }
    }
}