<div class="asset-list-item">
    <p class="title">Standart hive</p>
    <div class="assets-table">
        <table class="table">
            <tr class="mat-tr">
                <td class="mat-td w-50">Hive dimensions</td>
                <td class="mat-td w-50">90*90*90</td>
            </tr>
            <tr class="mat-tr">
                <td class="mat-td w-50">amount</td>
                <td class="mat-td w-50">2 pcs</td>
            </tr>
            <tr class="mat-tr">
                <td class="mat-td w-50">Data of purchase</td>
                <td class="mat-td w-50">10.02.20</td>
            </tr>
            <tr class="mat-tr">
                <td class="mat-td w-50">Price for one</td>
                <td class="mat-td w-50">$ 300</td>
            </tr>
            <tr class="mat-tr">
                <td class="mat-td w-50">Total price</td>
                <td class="mat-td w-50">$ 1.500</td>
            </tr>
        </table>
        <div class="buttons-content d-flex">
            <div class="w-50">
                <button class="btn  cursor-pointer add-btn" type="submit">Download contact</button>
            </div>
            <div class="w-50">
                <button class="btn  cursor-pointer out-btn" type="submit">Sell out</button>
            </div>
        </div>
    </div>
</div>