<header class="header">
    <div class="header-content pg-container d-flex align-items-center text-center justify-content-between">
        <div class="header-left-side d-flex align-items-center text-center">
            <img src="assets/images/logo.png" class="rounded d-block logo" alt="...">
            <p class="text logo-text text-left">american raw honey</p>
        </div>
        <div class="header-right-side d-flex">
            <img src="assets/icons/user.svg" class="rounded d-block icon" alt="...">
            <p class="text user-name">User: id_00900</p>
            <img src="assets/icons/cart.svg" class="rounded d-block icon card-icon" alt="...">
            <img src="assets/icons/menu-icon.svg" class="rounded d-block icon menu-icon" alt="...">
        </div>

    </div>
</header>