.header {
    background: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    padding: 23px;
    .header-content {
        .text {
            color: #17344F;
            margin-left: 20px;
        }
        .header-left-side {
            width: 230px;
            .logo {
                max-width: 55px;
                max-height: 55px;
            }
            .logo-text{
                font-weight: 400;
                font-size: 27px;
            }
        }
        .header-right-side {
            .icon {
                max-width: 36px;
                max-height: 36px;
                cursor: pointer;
            }
            .user-name{
                font-size: 30px;
                font-weight: 300;
            }
            .card-icon {
                margin-left: 125px;
            }
            .menu-icon {
                margin-left: 65px;
            }
        }

    }
}