.header {
    background: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    padding: 23px;
    .header-content {
        .text {
            color: #17344F;
            font-size: 27px;
            line-height: 27px;
            margin-left: 12px;
        }
        .header-left-side {
            width: 200px;
            .logo {
                width: 55px;
                height: 55px;
            }
        }
        .header-right-side {
            .icon {
                max-width: 36px;
                max-height: 36px;
                cursor: pointer;
            }
            .card-icon {
                margin-left: 140px;
            }
            .menu-icon {
                margin-left: 65px;
            }
        }

    }
}