<div class="address-list-item">
    <!-- <P class="label">{{item?.address}}</P> -->
    <div class="address-list-item-content d-flex justify-content-between align-items-center">
        <div class="address-list-item-details">
            <p class="text">Address: {{item?.address}}
            </p>
            <p class="text">Country: {{item?.country}}
            </p>
            <p class="text">Zip: {{item?.zip}}
            </p>
        </div>
        <button class="btn  cursor-pointer edit-btn" type="submit" [routerLink]="id">Edit</button>
    </div>
</div>