.form-group-content {
    &::after {
        content: "";
        display: block;
        width: 730px;
        border: 1px solid #B4B4B4;
        opacity: 1;
    }

    .form-group {
        .lable {
            color: #17344F;
            font-size: 14px;
            line-height: 19px;

        }
        .input,
        .text-area {
            margin-left: 80px;
        }

        .text-area {
            height: 117px !important;
        }
    }
}
.save-btn{
    margin-left: 230px;
}
