<div class="payment-content w-100">
    <div class="payment-item-content">
        <div class="payment-item d-flex">
            <div class="image-content">
                <img src="assets/icons/payment-open-icon.svg" class="rounded d-block icon menu-icon" alt="...">
            </div>
            <div class="amount-description">
                <p class="text">Invoice amount</p>
                <div class="payment-info d-flex align-items-center">
                    <p>Pyment info</p>
                    <img src="assets/icons/pyment-icon-close.svg" class="rounded d-block icon payment-icon ml-md-3"
                        alt="..." (click)="onclick()" *ngIf="!hive">
                    <img src="assets/icons/payment-icon-open.svg" class="rounded d-block icon payment-icon ml-md-3"
                        alt="..." (click)="onclick()" *ngIf="hive">
                </div>
            </div>
            <div class="value-content">
                <p class="value">$ 1.500</p>
            </div>
        </div>
        <div class="asset-list" *ngIf="hive">
            <p class="title">Standart hive</p>
            <table class="table">
                <tr class="mat-tr">
                    <th class="mat-th w-50">Hive dimensions</th>
                    <th class="mat-th w-50 right-th">90*90*90</th>
                </tr>
                <tr class="mat-tr">
                    <th class="mat-th w-50">amount</th>
                    <th class="mat-th w-50 right-th">2 pcs</th>
                </tr>
                <tr class="mat-tr">
                    <th class="mat-th w-50">Data of purchase</th>
                    <th class="mat-th w-50 right-th">10.02.20</th>
                </tr>
                <tr class="mat-tr">
                    <th class="mat-th w-50">Total price</th>
                    <th class="mat-th w-50 right-th">$ 1.500</th>
                </tr>
            </table>
        </div>
    </div>
    <div class="payment-item-content">
        <div class="payment-item d-flex">
            <div class="image-content">
                <img src="assets/icons/payment-close-icon.svg" class="rounded d-block icon menu-icon" alt="...">
            </div>
            <div class="amount-description">
                <p class="text">Invoice amount</p>

                <div class="payment-info d-flex align-items-center">
                    <p>Pyment info</p>
                    <img src="assets/icons/pyment-icon-close.svg" class="rounded d-block icon payment-icon ml-md-3"
                        alt="...">
                </div>
            </div>
            <div class="value-content">
                <p class="value">$ 1.500</p>
            </div>
        </div>
    </div>
</div>