<div class="payment-content w-100">
    <div class="payment-item-content">
        <div class="payment-item d-flex" >
            <div class="image-content d-none" [ngClass]="{'d-block':paymentData.paid}">
                <img src="assets/icons/payment-open-icon.svg" class="rounded d-block icon menu-icon" alt="...">
            </div>
            <div class="image-content d-none" >
                <img src="assets/icons/payment-close-icon.svg" class="rounded d-block icon menu-icon" alt="...">
            </div>
            <div class="d-none" [ngClass]="{'d-block':paymentData.cancel  && !paymentData.paid}">

                <div class="d-flex align-items-center">

                    <div class="behives-radius  d-flex">
                        <i class="material-icons m-auto">
                            keyboard_arrow_down
                        </i>
                    </div>
                    <p class="ml-2">cancel</p>
                </div>

            </div>
            <div class="d-none" [ngClass]="{'d-block':paymentData.paid==null && paymentData.done==null && paymentData.cancel==null }">

                <div class="d-flex align-items-center">

                    <div class="behives-radius  d-flex">
                        <i class="material-icons m-auto">
                            keyboard_arrow_down
                        </i>
                    </div>
                    <p class="ml-2">done</p>
                </div>

            </div>
            <div class="amount-description">
                <div class="amount-text-content d-flex justify-content-between f-direction-colum-w-900">
                    <p class="text">Invoice amount</p>
                    <p class="value">$ {{paymentData?.amount}}</p>
                </div>
                <div class="payment-info d-flex align-items-center">
                    <p>Pyment info</p>
                    <div class="payment-radius  ml-3 d-flex" (click)="onclick()">
                        <i class="material-icons m-auto" *ngIf="hive">
                            keyboard_arrow_up
                        </i>
                        <i class="material-icons m-auto" *ngIf="!hive">
                            keyboard_arrow_down
                        </i>
                    </div>
                </div>
            </div>
        </div>
        <div class="asset-list" *ngIf="hive">
            <p class="title">{{paymentData?.descr}}</p>
            <table class="table">
                <tr class="mat-tr">
                    <td class="mat-td w-50">Hive dimensions</td>
                    <td class="mat-td w-50 right-td">90*90*90</td>
                </tr>
                <tr class="mat-tr">
                    <td class="mat-td w-50">amount</td>
                    <td class="mat-td w-50 right-td">{{paymentData?.amount}} pcs</td>
                </tr>
                <tr class="mat-tr">
                    <td class="mat-td w-50">Data of purchase</td>
                    <td class="mat-td w-50 right-td">{{paymentData?.paid | date}}</td>
                </tr>
                <tr class="mat-tr">
                    <td class="mat-td w-50">Total price</td>
                    <td class="mat-td w-50 right-td">$ 1.500</td>
                </tr>
            </table>
        </div>
    </div>
    <!-- <div class="payment-item-content position-relative" *ngIf="paymentData.paid==null">
        <div class="payment-item d-flex">
            <div class="image-content">
                <img src="assets/icons/payment-close-icon.svg" class="rounded d-block icon menu-icon" alt="...">
            </div>
            <div class="amount-description">
                <div class="amount-text-content d-flex justify-content-between f-direction-colum-w-900">
                        <p class="text">Invoice amount</p>
                        <p class="value">$ {{paymentData?.amount}}</p>
                </div>
              
<div class="d-flex">
    <div class="payment-info d-flex align-items-center">
        <p>Pyment info</p>
        <div class="payment-radius  ml-3 d-flex">
            <i class="material-icons m-auto">
                keyboard_arrow_down
            </i>
        </div>
    </div>
    <button class="btn  cursor-pointer puy-btn ml-3" type="submit" (click)="onSbmit()">Puy bill</button>
</div>
               
            </div>
        </div>
        <button class="btn  cursor-pointer save-btn" type="submit" (click)="onSbmit()">Puy bill</button>
    </div> -->

</div>