<footer>
    <div class="footer-content">
        <div class="footer-container pg-container">
            <div class="footer-top-content">
                <div class="footer-top-content-wrapper  d-flex justify-content-between">
                    <div>
                        <p class="text">Узнавайте о спецпредложениях первыми!</p>
                        <p class="title">Подписывайтесь! </p>
                    </div>
                    <div class="form-content d-flex">
                        <input type="text" class="form-input" value="">
                        <button class="btn  cursor-pointer sign-btn" type="submit">Подписаться </button>
                    </div>
                </div>
            </div>
            <div class="footer-min-content">
                <div class="footer-main-container d-flex justify-content-between">
                    <div>
                        <p class="text">HOME SHOP CONTAC US TERMS</p>
                        <p class="title">8 800 200-40-30</p>
                    </div>
                    <div class="card-item d-flex">
                        <img src="assets/images/visa.jpg" class="rounded d-block item" alt="...">
                        <img src="assets/images/master.jpg" class="rounded d-block item ml-2" alt="...">
                        <img src="assets/images/american-express.png" class="rounded d-block item ml-2" alt="...">
                        <img src="assets/images/disc-over.png" class="rounded d-block item ml-2" alt="...">
                        <img src="assets/images/pay.png" class="rounded d-block item ml-2" alt="...">
                    </div>
                </div>
                <div class="footer-text-content d-flex justify-content-between">
                    <p class="text">store@honeyus.com</p>
                    <p class="text">Copyright &copy; 2019 Arerican Raw Honey LLC</p>
                </div>
            </div>
        </div>
    </div>
</footer>