.footer-content {
  background: #f7f7f7 0% 0% no-repeat padding-box;
  border: 1px solid #d5d5d5;
  opacity: 1;
  .footer-container {
    .text,
    .title {
      color: #17344f;
      font-size: 20px;
      line-height: 27px;
    }
    .title {
      font-weight: 600;
    }
    .footer-top-content {
      &::after {
        content: "";
        display: flex;
        width: 100%;
        border: 1px solid #b4b4b4;
        opacity: 1;
      }
      &-wrapper {
        padding: 65px 0;
      }
      .form-content {
    
        .form-input {
          background: #ffffff 0% 0% no-repeat padding-box;
          border: 1px solid #bebebe;
          opacity: 1;
          width: 400px;
        }
        .sign-btn {
          padding: 14px 75px;
          opacity: 1;
          color: white;
          background-color: #17344f;
        }
      }
    }
    .footer-min-content {
      padding: 65px 0;

      .title {
        margin-top: 20px;
      }
      .card-item {
        .item {
          width: 60px;
          height: 35px;
        }
      }
    }
  }
}
