.home-content {
    .home-container {
      
        .home-description {
            width: 100%;
            max-width: 400px;

            .text {
                color: #17344F;
                font-size: 49px;
                line-height: 67px;
            }

            .home-btn {
                background: #009DFF 0% 0% no-repeat padding-box;
                border-radius: 5px;
                opacity: 1;
                color: white;
                font-size: 18px;
                padding: 15px 50px;
            }
        }
    }
}