.payment-detail {
    .payment-detail-content {
        width: 100%;
        max-width: 670px;

        &::after {
            content: "";
            display: block;
            width: 100%;
            border: 1px solid #B4B4B4;
            opacity: 1;
            margin-top: 25px;
        }

        .title {
            color: #17344F;
            font-size: 14px;
        }

        .payment-description-content {
            .payment-description {
                width: 100%;
                max-width: 500px;

                .text {
                    word-break: break-all;
                    color: #17344F;
                    font-size: 18px;
                    line-height: 24px;
                }
            }
        }

    }

    .add-btn {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #009DFF;
        border-radius: 5px;
        opacity: 1;
        font-size: 14px;
        color: #009DFF;
        margin-top: 30px;
        padding: 10px 28px;
    }

    .edit-btn {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #8695A5;
        border-radius: 5px;
        opacity: 1;
        color: #8695A5;
        padding: 11px 30px;
    }
}